---
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    tagline="About us"
    image={{
      src: 'https://images.unsplash.com/photo-1559136555-9303baea8ebd?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Caos Image',
    }}
  >
    <Fragment slot="title">
      Building Digital Solutions <br />
      <span class="text-accent dark:text-white highlight">That Drive Success.</span>
    </Fragment>

    <Fragment slot="subtitle">
      At AppSchedio Corp, we specialize in delivering top-tier digital solutions that empower businesses to achieve their goals. Whether it's creating stunning websites, building robust applications, or developing custom software tailored to your unique needs, we are committed to excellence in every project.
    </Fragment>
  </Hero>

  <!-- Stats Widget ****************** -->

  <Stats
    title="Statistics about us"
    stats={[
      { title: 'Years', amount: '4' },
      { title: 'Offices', amount: '2' },
      { title: 'Employees', amount: '35' },  
    ]}
  />

  <!-- Features3 Widget ************** -->

  <Features3
    title="Our Story and Values"
    subtitle="Founded in 2021, AppSchedio Corp began as a small team of passionate developers with a mission to bring innovative technology solutions to businesses of all sizes. Over the years, we’ve grown into a trusted partner for companies seeking reliable and cutting-edge digital solutions."
    columns={3}
    isBeforeContent={true}
    
  />

  <!-- Features3 Widget ************** -->

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Our values"
    subtitle="Maecenas eu tellus eget est scelerisque lacinia et a diam. Aliquam velit lorem, vehicula id fermentum et, rhoncus et purus. Nulla facilisi. Vestibulum malesuada lacus."
    items={[
      {
        title: 'Quality',
        description:
          'We ensure that every project we deliver meets the highest standards of quality.',
       
      },
      {
        title: 'Innovation',
        description:
          'We embrace new technologies and methodologies to stay ahead in the industry.',
       
      },
      {
        title: 'Customer-Centricity',
        description:
          'Our clients are at the heart of everything we do, and their success is our success.',
       
      },

      {
        title: 'Integrity',
        description:
          'We operate with honesty, transparency, and a commitment to ethical practices.',
        
      },
    ]}
  />

  <!-- Steps2 Widget ****************** -->

  <Steps2
    title="Achievements"
    subtitle="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sagittis, quam nec venenatis lobortis, mi risus tempus nulla, sed porttitor est nibh at nulla."
    isReversed={true}
    callToAction={{
      text: 'See more',
      href: '/',
    }}
    items={[
      {
        title: 'Global reach',
        description: 'Nam malesuada urna in enim imperdiet tincidunt. Phasellus non tincidunt nisi, at elementum mi.',
        icon: 'tabler:globe',
      },
      {
        title: 'Positive customer feedback and reviews',
        description:
          'Cras semper nulla leo, eget laoreet erat cursus sed. Praesent faucibus massa in purus iaculis dictum.',
        icon: 'tabler:message-star',
      },
      {
        title: 'Awards and recognition as industry experts',
        description:
          'Phasellus lacinia cursus velit, eu malesuada magna pretium eu. Etiam aliquet tellus purus, blandit lobortis ex rhoncus vitae.',
        icon: 'tabler:award',
      },
    ]}
  />

  <!-- Features2 Widget ************** -->

  <Features2
    title="Our locations"
    tagline="Find us"
    columns={3}
    items={[
      {
        title: 'Ahmednagar',
        description: 'Ahmednagar, Maharashtra, 414001',
      },
      {
        title: 'Pune',
        description: 'Viman Nagar, Pune',
      },
      {
        title: 'Banglore',
        description: 'Vasantnagar, Banglore',
      },
    
    ]}
  />

  <BlogLatestPosts
  title="Find out more content in our Blog"
  information={`The blog is used to display AstroWind documentation.
                      Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                      Astro is a very interesting technology. Thanks.
              `}
/>

  <!-- Features2 Widget ************** -->

</Layout>
