---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Brands from '~/components/widgets/Brands.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';


const metadata = {
  title: 'AppSchedio Corp offers top-tier website development, application development, and custom software solutions. Let`s build something great together!',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
   
    image={{ src: '~/assets/images/hero-image.png', alt: 'AstroWind Hero Image' }}
  >
    <Fragment slot="title">
      Transform Your Vision into Reality with <span class="hidden xl:inline">Cutting-Edge Software Solutions.</span>
      <!-- <span class="text-accent dark:text-white highlight"></span>  -->
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class="font-semibold">Partner with AppSchedio Corp </span>for Application Development, Custom Software Solutions, Web Development, Digital Marketing, and IoT Applications</span
      >
      <span class="block mb-1 sm:hidden font-bold text-blue-600">with AppSchedio Corp.</span>
      Suitable for your Business Need.
    </Fragment>
  </Hero>

  <CallToAction
    title="Get a Free Consultation"
    subtitle="Lets connect 1 on 1 and discuss your amazing idea."
    actions={[
      {
        variant: 'primary',
        text: 'Get started now',
        href: '/',
      },
    ]}
  />

  <!-- Note Widget ******************* -->
  <Stats
  stats={[
    { title: 'Clients', amount: '55+' },
    { title: 'Projects', amount: '120+' },
    { title: 'Locations', amount: '2' },
    { title: 'Team Size', amount: '35+' },
  ]}
/>
  <Note />
  

  <!-- Features Widget *************** -->

  <Features2
  title="Explore our diverse services"
  subtitle="Discover our services below to streamline and elevate your projects."
  columns={3}
  items={[
    {
      title: 'Web Development',
      description:
        'We carry more than just good coding skills. Our experience makes us stand out from other web development.',
      icon: 'tabler:school',
    },
    {
      title: 'Mobile Development',
      description:
        'Create complex enterprise software, ensure reliable software integration, modernise your legacy system.',
      icon: 'tabler:home-star',
    },
    {
      title: 'UI/UX Design',
      description: `Build the product you need on time with an experienced team that uses a clear and effective design process.`,
      icon: 'tabler:photo',
    },
    {
      title: 'Digital Marketing',
      description:
        'In the era of the post-modernization of the world, digital marketing is the only mantra for any company.',
      icon: 'tabler:shopping-cart',
    },
    {
      title: 'IoT',
      description:
        'Make smarter business decisions with the Internet of Things(IoT). Collect and analyze real-time data and make it actionable.',
      icon: 'tabler:article',
    },
    {
      title: 'QA & Testing',
      description:
        'Turn to our experts to perform comprehensive, multi-stage testing and auditing of your software.',
      icon: 'tabler:building-store',
    },
    
  ]}
/>


  <Brands
    title="Trusted by Leading Brands and Businesses Across the Globe"
    subtitle=""
    icons={[]}
    images={[
      {

        src: '~/assets/images/giftex.png',
        alt: 'Giftex',
      },
      {
        src: '~/assets/images/VayyuSmart.png.webp',
        alt: 'Vaayusmart',
      },
      {
        src: '~/assets/images/logo copy.png',
        alt: 'Allish',
      },
      {
        src: '~/assets/images/lokflix.jpg',
        alt: 'LokFlix',
      },
      {
        src: '~/assets/images/Igmite.png.webp',
        alt: 'Igmote Solutions',
      },

      {
        src: '~/assets/images/autoqed logo.png.webp',
        alt: 'AutoQed',
      },
      {
        src: '~/assets/images/Aaryatech.png.webp',
        alt: 'ARYA INFOTECH',
      },
      
      {
        src: '~/assets/images/pharmadate-logo.svg',
        alt: 'Pharmadate',
      },

      {
        src: '~/assets/images/Reconnectin.png.webp',
        alt: 'ReconnectIn',
      },

     
    ]}
  />
  <Features
    id="approch"
    tagline="approch"
    title="Our Approach"
    subtitle="A 6-Step Process for Handling Projects"
    items={[
      {
        title: 'Discovery & Research',
        description:
          'Understanding Your Vision: We begin by deeply understanding your business goals, challenges, and requirements. Through collaborative discussions and research, we gather insights to ensure our solution aligns perfectly with your vision',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Planning & Strategy',
        description:
          'Blueprint for Success: Based on our research, we develop a detailed project plan and strategy. This includes setting milestones, defining deliverables, and establishing timelines to keep the project on track.',
        icon: 'tabler:components',
      },
      {
        title: 'Design & Prototyping',
        description:
          'Visualizing the Future: Our design team transforms ideas into visually appealing and user-friendly designs. We create prototypes that give you a tangible feel of the final product, allowing for early feedback and iteration.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Development & Implementation',
        description:
          'Building with Precision: With the design approved, our skilled development team begins coding, adhering to best practices and using the latest technologies. We ensure that the project is built to be scalable, secure, and performant.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Testing & Quality Assurance',
        description:
          "Rigorous Testing: Before the final delivery, we conduct thorough testing across various devices and environments. This includes functionality tests, performance checks, security assessments, and user experience evaluations.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Launch & Support',
        description:
          'Seamless Launch: Once the project is fully tested and approved, we proceed with a smooth and strategic launch. Whether it`s a website going live or an app hitting the stores, we ensure that everything goes off without a hitch.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  <!-- Content Widget **************** -->


  <Testimonials
    title="Client testimonials"
    subtitle="Discover what clients have to say about their experiences working with me."
    testimonials={[
      {
        testimonial: `AppSchedio has solid tech team and ontime delivery.. very happy to be associated with them`,
        name: 'Dinesh Mehetre',
        job: 'Director @Lokflix',
        image: {
          src: '~/assets/images/lokflix.jpg',
          alt: 'Mark Thompson Image',
        },
      },
      {
        testimonial: `AppSchedio has solid tech team and ontime delivery.. very happy to be associated with them`,
        name: 'Dinesh Mehetre',
        job: 'Director @Lokflix',
        image: {
          src: '~/assets/images/lokflix.jpg',
          alt: 'Emily Martinez Image',
        },
      },
      {
        testimonial: `AppSchedio has solid tech team and ontime delivery.. very happy to be associated with them`,
        name: 'Laura Simmons',
        job: 'Founder of an NGO',
        image: {
          src: 'https://images.unsplash.com/photo-1554727242-741c14fa561c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=774&q=80',
          alt: 'Laura Simmons Image',
        },
      }
     
    ]}
  />
  
  
  <!-- Features2 Widget ************** -->

  <Steps2
  title="Reach out to us"
  subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
  callToAction={{
    text: 'Contact us',
    href: 'contact',
  }}
  items={[
    {
      title: 'Email us',
      description: 'business@appschedio.com',
      icon: 'tabler:mail',
    },
    {
      title: 'Call us',
      description: '+91 7741919844',
      icon: 'tabler:headset',
    },
    
  ]}
/>


  <!-- HighlightedPosts Widget ******* -->

  <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  />



  
</Layout>
